@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
}

#file-input {
    display: none;
  }

  #file-input-label {
    font-size: .8rem;
    padding: .3rem;
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
  }
  #file-input-label:hover {
   color: blue;
  }
 input[type='file']
{
    margin-left: 13rem;
    /* background-color: black; */
}
.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
