
      
.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    
}
.service h2 {
    margin-top: 0;
    cursor: pointer;
}
.service img {
    max-width: 45%;
    height: auto;
    margin-left: 20px;
    border-radius: 30px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
h1 {
    margin: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    display: none;
}
ul li {
    margin-bottom: 5px;
   
}
img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px;
}
